{% extends "layout.html" %}
{% block body %}

<div class="loginDiv">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="jumbotron">
                <form action="{{ url_for('login') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" autocomplete="off" placeholder="Enter Your Username..." class="form-control" /> 
                    <input id="password" name="password" type="password" placeholder="Enter Your Password..." class="form-control" /> 
                    <input type="submit" class="btn btn-secondary" value="LOGIN"> 
                </form>
                <br />
                <p class="bottom">Don't have an account?  Sign up <a class="bottom" href="{{url_for('register')}}">here</a></p>

            </div>
        </div>
    </div>
</div>
{% endblock %}